---
layout: default
---

<div class="archive">



  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Previous Meetings (2022-2023)"}}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
		  {% if post.categories contains "past2223"%}
			  <li>
				<h3>
				  <a class="post-link" href="{{ post.url | relative_url }}">
					{{ post.title | escape }}
				  </a>
				</h3>
				{%- if site.show_excerpts -%}
				  {{ post.excerpt }}
				{%- endif -%}
			  </li>
		  {%- endif -%}
      {%- endfor -%}
    </ul>

  {%- endif -%}  
  
  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Previous Meetings (2021-2022)"}}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
		  {% if post.categories contains "past2122"%}
			  <li>
				<h3>
				  <a class="post-link" href="{{ post.url | relative_url }}">
					{{ post.title | escape }}
				  </a>
				</h3>
				{%- if site.show_excerpts -%}
				  {{ post.excerpt }}
				{%- endif -%}
			  </li>
		  {%- endif -%}
      {%- endfor -%}
    </ul>

  {%- endif -%}  
  
  
  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Previous Meetings (2020-2021)"}}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
		  {% if post.categories contains "past"%}
			  <li>
				<h3>
				  <a class="post-link" href="{{ post.url | relative_url }}">
					{{ post.title | escape }}
				  </a>
				</h3>
				{%- if site.show_excerpts -%}
				  {{ post.excerpt }}
				{%- endif -%}
			  </li>
		  {%- endif -%}
      {%- endfor -%}
    </ul>

  {%- endif -%}
  
  
</div>
