---
layout: default
---
	<p style="text-align: justify;">

This is the agenda of our reading group. You can also look at the calendar <a href="https://calendar.google.com/calendar/embed?src=tc4ionl8vpv8gn8h424mhl7jp8%40group.calendar.google.com&ctz=Europe%2FAmsterdam"  target="_blank" rel="noopener noreferrer"> here</a>.

And you can download the calendar to your computer <a href="https://calendar.google.com/calendar/ical/tc4ionl8vpv8gn8h424mhl7jp8%40group.calendar.google.com/public/basic.ics"  target="_blank" rel="noopener noreferrer"> here</a>. 

	</p>
	
<div class="calendar">
<iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=2&amp;bgcolor=%23039BE5&amp;ctz=Europe%2FAmsterdam&amp;src=dGM0aW9ubDh2cHY4Z244aDQyNG1obDdqcDhAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%237986CB&amp;showCalendars=1&amp;mode=MONTH" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</div>
