---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}
	<p style="text-align: justify;">
	Welcome! The reading group 'New Trends in Formal Semantics' has come to an end. 
	<p style="text-align: justify;">
	
	<p style="text-align: justify;">
	
The aim of the reading group was to examine recent research in the area of formal semantics and pragmatics, with a focus on analyzing linguistic phenomena through formal theories of semantics and pragmatics. However, if relevant, the group has also considered papers that addressed new data, experimental findings, and cognitive aspects of language. 

    </p>
	
	    <p style="text-align: justify;">
We thank all those who participated in the reading group.  
	</p>
	
<!-- 	
	<p style="text-align: justify;">

We welcome all those interested in the field of formal semantics to join us. Whether you are a seasoned researcher or just starting to explore the field, everyone is welcome to attend. 

</p>
	

	
	
<p style="text-align: justify;">
	We usually meet every two Tuesdays from 16.00 until 17:00. 
	If you want to suggest a particular paper or work that might be worth reading, just send an email to the organizer (m.degano@uva.nl).
	</p> 
	

<p style="text-align: justify;">
	At the beginning of each session, a member of the group, previously determined, 
	briefly summarizes the chosen paper and sets up some guiding questions for the discussion. 
	</p> -->

<!--   {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Upcoming Meetings" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
	  {% if post.categories contains "meetings"%}
      <li>
	    {%- assign date_format = site.minima.date_format | default: "%A %-d %B %Y, %H:%M - 17:30" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
	  {%- endif -%}
      {%- endfor -%}
    </ul>
  {%- endif -%} -->
</div>
